*{
    padding:0;
    margin:0;
}
.navigation
{
    /* outline: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(199,81,192);
    color:azure;
    height:90px;
}
.btns
{
    display: flex;
    /* outline:2px solid red; */
    width:170px;
    justify-content: space-around;
margin-right:50px;
}
.signUp
{
/* outline:2px solid red; */
width:100px;
display: flex;
justify-content: center;
align-items: center;
height:25px;
background-color: aliceblue;
color:rgb(199,81,192) ;
border-radius: 25px;
cursor: pointer;
}
.mainContainer
{
    display:flex;
    justify-content: space-around;
    /* outline: 2px solid red; */
    width:400px;
    align-items: center;
    cursor: pointer;
    height:80px;
}
.logo
{
    display:flex;
    /* outline:2px solid red; */
    width:125px;
    justify-content: space-around;
    margin-left:50px;
}
.Home
{
    /* outline:2px solid red; */
    cursor: pointer;
}
.dot
{
    background-color: aliceblue;
    width:10px;
    height:10px;
    /* outline:2px solid red; */
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Login
{
    cursor: pointer;
}
.dot1
{
    /* outline:2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:5px;
}
.active
{
    font-size: larger;
}
